<h1>INDEX OF ARTICLES</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title%></td>
      <td><%= article.text%></td>
    
    </tr>
  <%end%>
</table>


<%= link_to 'Create new', new_article_path%>